{#<div class="thumbnail">#}
{#    <a href="...">#}
{#        <img src="static\images\1.jpg" alt="hhh">#}
{#        <h3 class="workTitle">有害垃圾</h3>#}
{#        <div class="caption">#}
{#            <p>作者：王航航 </p>#}
{#        </div>#}
{#    </a>#}
{#</div>#}
{##}
{#{% for works in works_list %}#}
{#    <div class="thumbnail">#}
{#        <a href="/works/{{ works.id }}">#}
{#            <img src="static/image/{{ works_editor_dict[works_editor_dict.keys()[0]] }}" alt="hhh">#}
{#            <h3 class="workTitle">{{ works.title }}</h3>#}
{#            <div class="caption">#}
{#                <p>作者：{{ works_editor_dict[works_id] }}</p>#}
{#            </div>#}
{#        </a>#}
{#    </div>#}
{#{% endfor %}#}

{#dir_prefix = '../../photos/user' + user_id + '/works' + works_id + '/'#}